<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>User List</h2>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-success" (click)="craeteUser()"> <span>Create User</span></a>

                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th class="text-center" scope="col">Id</th>
                    <th class="text-center" scope="col">First Name</th>
                    <th class="text-center" scope="col">Last Name</th>
                    <th class="text-center" scope="col">Email</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of data?.data">
                    <th class="text-center" scope="row">{{user.id}}</th>
                    <td class="text-center">{{user.first_name}}</td>
                    <td class="text-center">{{user.last_name}}</td>
                    <td class="text-center">{{user.email}}</td>
                    <td class="text-center">
                        <a class="add icon-margin li-pointer" title="edit" data-toggle="tooltip" (click)="update(user)"><i class="bi bi-pencil-square "></i></a>
                        <a class="delete li-pointer" title="Delete " data-toggle="tooltip" (click)="open(content, user)"><i class="bi bi-trash "></i></a>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class=" col justify-content-md-center ">
            <nav aria-label="Page navigation example ">
                <ul class="pagination ">
                    <li class="page-item " (click)="prev() "><a class="page-link li-pointer " [ngClass]="{ 'my_class': data?.page <=1 } ">Previous</a></li>
                    <li class="page-item li-pointer " *ngFor="let num of numSequence(numbers); let i=index " (click)="getUserList(i+1) ">
                        <a class="page-link">{{i+1}}</a>
                    </li>
                    <li class="page-item " (click)="next() "><a class="page-link li-pointer " [ngClass]="{ 'my_class': data?.page=== data?.total_pages} ">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<ng-template #content let-modal>

    <div class="modal-body">
        Are You Sure ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('confirm')">Confirm</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('cancel')">Cancel</button>
    </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->